- var admin = url.indexOf('/admin') > -1;
- var login = url.indexOf('/login') > -1;
!!!
html
  head
    title= 'Office Seating Chart'
    script(src='/javascripts/jquery-1.6.2.min.js')
    - if (admin)
      script(src='/javascripts/jquery-ui-1.8.16.custom.min.js')
      script(src='/javascripts/jquery.colorpicker.js')
      link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.8.16.custom.css')
      link(rel='stylesheet', href='/stylesheets/jquery.colorpicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    #main
      - if (session.admin)
        #logout
          a(href='/logout') Logout

      #tabs
        div.tab-row
          ul
            - if (plans.length == 0)
              li(class='#{url === '/' ? 'selected' : 'unselected'}')
                a(href='/') Home

            - for plan in plans
              li(id=plan.id, class='#{url.indexOf('/plan/' + plan.id) > -1 ? 'selected' : 'unselected'}')
                a(id='#{plan.id}link', href='/plan/' + plan.id) #{plan.name}

            li(class='#{admin || login ? 'selected' : 'unselected'}')
              a(href='/admin') Administration

        div.tab-panel
          != body
